{% extends "base.twig" %}

{% block content %}
	<div class="container page-section post-type-{{post.post_type}}" >
		<div class="row">
			<div class="col-md-12">
				<h1>404 Page not found</h1>
				<p>Sorry, but that page has either been moved or deleted</p>
				<a href="/">Back Home</a>
			</div>
		</div>
	</div>
{% endblock %}