{% extends "base.twig" %}

{% block content %}

<div class="l-blog-archive page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">{{post.title}}</h2>
			</div>
		</div>
		<div class="row l-blog-archive__row">
			{{post.content}}
		</div>
	</div>
</div>

{% endblock %}