{% extends "base.twig" %}

{% block content %}
	{% include 'layout/hero.twig' with { heading : post.title, single : true} %}
	<div class="content-wrapper">
		<article class="l-blog-archive page-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="article-body">
							{{post.content}}
						</div>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
