@include b(l-blog-preview){
	background: #eeeeee;

	@include e(post){
		@include respond(all-phones) {
			margin: 20px 0;
		}
		
		h6 {
			margin-top: 0;
			margin-bottom: 0;
		}

		p {
			color: #5c5c5c;
		}

		a {
			font-family: 'bebas_neueregular';
		}
	}
}
