@include b(l-blog-archive){
	background: #eeeeee;

	@include e(row) {
		margin-top: 50px;

		@include respond(all-phones) {
			margin-top: 10px;
		}
	}

	@include e(post){
		@include respond(all-phones) {
			margin: 20px 0;
		}

		@include m(thumb){
			width: 100%;
			margin-bottom: 15px;
		}

		h3 {
			a {
				font-family: $font-family;
				color: #5c5c5c;
			}
		}

		h6 {
			margin-top: 0;
			margin-bottom: 0;
		}

		p {
			color: #5c5c5c;
		}

		a {
			font-family: 'bebas_neueregular';
		}
	}
}
