{% extends "base.twig" %}

{% block content %}
	{% include 'layout/hero.twig' with { heading :'inspiring <span class="blue">change</span><br> through fitness'} %}
	{% include 'layout/pt/introduction.twig' %}
	{% include 'layout/pt/why-train.twig' %}
	{% include 'layout/pt/book-consultation.twig' %}
{% endblock %}