<div class="container page-section">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">{{post.get_field('home_introduction_title')}}</h2>
		</div>
		<div class="col-md-6">
			{{post.get_field('home_introduction_left_column')}}
		</div>
		<div class="col-md-6">
			{{post.get_field('home_introduction_right_column')}}
		</div>
	</div>
</div>