
{% set heroBgImg = post.get_field('pt_bc_image') ? post.get_field('pt_bc_image') : site.theme.link ~ "/app/img/tmp/book-consultation.jpg" %}

<div class="l-hero smaller" style="background-image:url('{{ heroBgImg}}')">
	<div class="l-hero__overlay">
		<div class="l-hero__text">
			{{post.get_field('pt_bc_content')}}
		</div>
	</div>
</div>
