<div class="container page-section">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Personal Training</h2>
		</div>
		<div class="col-md-6">
			{{post.content}}
		</div>
		<aside class="col-md-6">
			<img src="{{post.get_field('pt_sidebar_image').url}}" alt="{{post.get_field('pt_sidebar_iamge').alt}}">
			<div class="aside-content">
				{{post.get_field('pt_sidebar')}}
			</div>
		</aside>
	</div>
</div>